name: dataset-update

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  check-theme-update:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    outputs:
      theme_update: ${{ steps.check.outputs.theme_update }}
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6
      - name: Setup Bun
        run: bun install
      - name: update-check-theme
        run: bun update "material-icon-theme"
      - name: diff-check
        id: check
        run: git diff --exit-code --quiet || echo "theme_update=true" >> $GITHUB_OUTPUT
  update-manifest:
    needs: check-theme-update
    if: ${{ needs.check-theme-update.outputs.theme_update == 'true' }}
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    outputs:
      manifest_update: ${{ steps.check.outputs.manifest_update }}
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6
      - name: Setup Bun
        run: bun install
      - name: update manifest
        run: bun run scripts/index.ts
      - name: diff-check
        id: check
        run: git diff --exit-code --quiet || echo "manifest_update=true" >> $GITHUB_OUTPUT
  # create-pull-request:
  #   - name: create pull request
  #     uses: peter-evans/create-pull-request@v5
  #   - uses: actions/setup-python@v6
  #     with:
  #       python-version: "3.14"
