name: dataset-update

on:
  workflow_dispatch:

jobs:
  dataset-update:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
