name: dataset-update

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  # check-theme-update:
  #   runs-on: ubuntu-24.04
  #   timeout-minutes: 5
  #   outputs:
  #     theme_update: ${{ steps.check.outputs.theme_update }}
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: oven-sh/setup-bun@v2
  #       with:
  #         bun-version: 1.3.6
  #     - name: Setup Bun
  #       run: bun install
  #     - name: update-check-theme
  #       run: bun update "material-icon-theme"
  #     - name: diff-check
  #       id: check
  #       run: git diff --exit-code --quiet || echo "theme_update=true" >> $GITHUB_OUTPUT
  # update-manifest:
  #   needs: check-theme-update
  #   if: ${{ needs.check-theme-update.outputs.theme_update == 'true' }}
  #   runs-on: ubuntu-24.04
  #   timeout-minutes: 5
  #   outputs:
  #     manifest_update: ${{ steps.check.outputs.manifest_update }}
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: oven-sh/setup-bun@v2
  #       with:
  #         bun-version: 1.3.6
  #     - name: Setup Bun
  #       run: bun install
  #     - name: update-check-theme
  #       run: bun update "material-icon-theme"
  #     - name: update manifest
  #       run: bun run scripts/index.ts
  #     - name: diff-check
  #       id: check
  #       run: git diff --exit-code --quiet || echo "manifest_update=true" >> $GITHUB_OUTPUT
  update-dataset-create-pull-request:
    # needs: update-manifest
    # if: ${{ needs.update-manifest.outputs.manifest_update == 'true' }}
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6
      - name: Setup Bun
        run: bun install
      - name: Update Check Theme
        run: bun update "material-icon-theme"
      - name: Update Manifest
        run: bun run scripts/index.ts
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Update Dataset
        run: python scripts/main.py
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: Update Dataset
          reviewers: DogFortune
          delete-branch: true
          branch: update/theme
          branch-suffix: timestamp
          title: Update Dataset
